{% extends "common.html" %}
{% load static %}
{% block main_content %}


<!-- <div>
    <form 
    action="{% url "add-product" %}" 
    class="container border border-primary col-md-6 p-3 my-3 rounded"
    method="post"
    enctype="multipart/form-data"
    >
        {% csrf_token %}

        <h3 class="text-center">Add Product</h3>
        <input type="text" placeholder="Product name" class="form-control mb-2" name="product_name">
        <label for="" class="mb-2 ps-2">Upload Image</label>
        <input type="file" class="form-control mb-2" name="image">
        <input type="text" placeholder="Category" class="form-control mb-2" name="category">
        <input type="number" placeholder="Quantity" class="form-control mb-2" name="quantity">
        <input type="number" placeholder="Price" class="form-control mb-2" name="price">
        <button class="btn btn-primary w-100 mb-2" type="submit">Add Product</button>
    </form>
</div> -->

<form method="post" enctype="multipart/form-data"  class="container border border-primary col-md-6 p-3 my-3 rounded">
    {% csrf_token %}

    {{product_form.as_p}}

    <button class="btn btn-primary w-100 mb-2" type="submit">Add Product</button>

</form>



{% endblock main_content %}